{% extends 'admin-portal-base.html' %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        {% if technologys.pk %}
            <h6 class="m-0 font-weight-bold text-primary">Edit technologys</h6>
        {% else %}
            <h6 class="m-0 font-weight-bold text-primary">Add New technologys</h6>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div>
                {% if form.errors %}
                    <ul class="text-danger" style="list-style-type: none;">
                        {% for field, error_list in form.errors.items %}
                            {% for error in error_list %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}                
            </div>
            <div class="col-lg-12">
                <form method="post" class="user">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.technology_name.id_for_label }}">{{ form.technology_name.label }}</label>
                            {{ form.technology_name }}
                        </div>
                        <div class="col-sm-3">
                            <label for="{{ form.url.id_for_label }}">{{ form.url.label }}</label>
                            {{ form.url }}
                        </div>
                        <div class="col-sm-3">
                            <label for="{{ form.technology_image.id_for_label }}">{{ form.technology_image.label }}</label>
                            {{ form.technology_image }}
                        </div>
                    
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.h1.id_for_label }}">{{ form.h1.label }}</label>
                            {{ form.h1 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.technology_discription.id_for_label }}">{{ form.technology_discription.label }}</label>
                            {{ form.technology_discription }}
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.h2.id_for_label }}">{{ form.h2.label }}</label>
                            {{ form.h2 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
                            {{ form.content }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="{{ form.benefit_1.id_for_label }}">{{ form.benefit_1.label }}</label>
                            {{ form.benefit_1 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.benefit_1_disc.id_for_label }}">{{ form.benefit_1_disc.label }}</label>
                            {{ form.benefit_1_disc }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="{{ form.benefit_2.id_for_label }}">{{ form.benefit_2.label }}</label>
                            {{ form.benefit_2 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.benefit_2_disc.id_for_label }}">{{ form.benefit_2_disc.label }}</label>
                            {{ form.benefit_2_disc }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="{{ form.benefit_3.id_for_label }}">{{ form.benefit_3.label }}</label>
                            {{ form.benefit_3 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.benefit_3_disc.id_for_label }}">{{ form.benefit_3_disc.label }}</label>
                            {{ form.benefit_3_disc }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label for="{{ form.benefit_4.id_for_label }}">{{ form.benefit_4.label }}</label>
                            {{ form.benefit_4 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.benefit_4_disc.id_for_label }}">{{ form.benefit_4_disc.label }}</label>
                            {{ form.benefit_4_disc }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.usage_1.id_for_label }}">{{ form.usage_1.label }}</label>
                            {{ form.usage_1 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.usage_1_disc.id_for_label }}">{{ form.usage_1_disc.label }}</label>
                            {{ form.usage_1_disc }}
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.usage_2.id_for_label }}">{{ form.usage_2.label }}</label>
                            {{ form.usage_2 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.usage_2_disc.id_for_label }}">{{ form.usage_2_disc.label }}</label>
                            {{ form.usage_2_disc }}
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.usage_3.id_for_label }}">{{ form.usage_3.label }}</label>
                            {{ form.usage_3 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.usage_3_disc.id_for_label }}">{{ form.usage_3_disc.label }}</label>
                            {{ form.usage_3_disc }}
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.usage_4.id_for_label }}">{{ form.usage_4.label }}</label>
                            {{ form.usage_4 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.usage_4_disc.id_for_label }}">{{ form.usage_4_disc.label }}</label>
                            {{ form.usage_4_disc }}
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <a href="{% url 'technology_list'%}" class="btn btn-primary btn-user btn-block" >Back</a>
                        </div>
                        
                        {% if i.pk %}
                            <div class="col-md-3">
                                <a href="{% url 'delete_technology' pk=technologys.pk %}" class="btn btn-primary btn-user btn-block"> Delete </a>
                            </div>
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Update technologys">
                            </div>
                        {% else %}
                            <div class="col-sm-6">
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Create technologys">
                            </div>
                        {% endif %}
                    </div>
                </form>
        </div>
        </div>
    </div>
</div> 


{% endblock %}
