{% extends 'admin-portal-base.html' %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary d-flex justify-content-between align-items-center">
                <span>..Details</span>
                <a href="{% url 'technology_list' %}"  class="btn btn-primary ml-auto"><i class="fa fa-list"></i></a>
                <a href="{% url 'edit_technology' pk=technologys.pk %}"  class="btn btn-primary ml-1"><i class="fa fa-edit"></i></a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% for message in success_messages %}
                    <div class="card mb-4 border-left-success">
                        <div class="card-body">
                                {{ message }}
                                {{break}}
                        </div>
                    </div>
                {% endfor %}
                <div class="col-lg-12">
                    <div class="p-2">

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-form-label font-weight-bold">Technology Name</label>
                                <div>{{ technologys.product_name }}</div>
                            </div>                                                   
                            <div class="col-sm-4">
                                <label class="col-form-label font-weight-bold">Technology Image</label>
                                 <div>{{ technologys.cover_image }}</div>
                            </div>                            
                        </div>
            
                        <div class="form-group row">                            
                            <div class="col-sm-12">
                                <label class="col-form-label font-weight-bold">Heading 1</label>
                                <div>{{ technologys.h1 }}</div>
                            </div>
                        </div>
    
                        <div class="form-group row">                            
                            <div class="col-sm-12">
                                <label class="col-form-label font-weight-bold">Technology Discription</label>
                                <div>{{ technologys.technology_discription }}</div>
                            </div>
                        </div>
    

                        <div class="form-group row">                            
                            <div class="col-sm-12">
                                <label class="col-form-label font-weight-bold">Section 2:</label>
                                <div> <h4>{{ technologys.h2 }}  </h4></div>
                                <div>{{ technologys.content }}</div>
                            </div>
                        </div>

                        <div class="form-group row"> 
                            <h4>Processes In our Product </h4>                                 
                            <div class="col-sm-12">
                                <div class="mb-2" ><b>Process 1: {{ technologys.benefit_1 }} </b><br>{{ technologys.benefit_1_disc }}</div>
                                <div class="mb-2" ><b>Process 2: {{ technologys.benefit_2 }} </b><br>{{ technologys.benefit_2_disc }}</div>
                                <div class="mb-2" ><b>Process 3: {{ technologys.benefit_3 }} </b><br>{{ technologys.benefit_3_disc }}</div>
                                <div class="mb-2" ><b>Process 4: {{ technologys.benefit_4 }} </b><br>{{ technologys.benefit_4_disc }}</div>
                            </div>
                        </div>
                        

                        <div class="form-group row"> 
                            <h4>Usages of Technology </h4>                        
                            <div class="col-sm-12">
                                <li> 1: {{ technologys.usage_1 }} <br>{{ technologys.usage_1_disc }}</li>
                            </div>
                            <div class="col-sm-12">
                                <li> 2: {{ technologys.usage_2 }} <br>{{ technologys.usage_2_disc }}</li>
                            </div>
                            <div class="col-sm-12">
                                <li> 3: {{ technologys.usage_3 }} <br>{{ technologys.usage_3_disc }}</li>
                            </div>
                            <div class="col-sm-12">
                                <li> 4: {{ technologys.usage_4 }} <br>{{ technologys.usage_4_disc }}</li>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
