{% extends 'admin-portal-base.html' %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary d-flex justify-content-between align-items-center">
                <span>Job Details</span>
                <a href="{% url 'job_list' %}"  class="btn btn-primary ml-auto"><i class="fa fa-list"></i></a>
                <a href="{% url 'edit_job' pk=job.pk %}"  class="btn btn-primary ml-1"><i class="fa fa-edit"></i></a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% for message in success_messages %}
                    <div class="card mb-4 border-left-success">
                        <div class="card-body">
                                {{ message }}
                                {{break}}
                        </div>
                    </div>
                {% endfor %}
                <div class="col-lg-12">
                    <div class="p-2">
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-form-label font-weight-bold">Display Title</label>
                                <div>{{ job.display_title }}</div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label font-weight-bold">Number of Positions</label>
                                <div>{{ job.no_of_positions }}</div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label font-weight-bold">Last Date to Apply</label>
                                <div>{{ job.last_date_to_apply }}</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label class="col-form-label font-weight-bold">Location</label>
                                <div>{{ job.location }}</div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label font-weight-bold">Domain</label>
                                <div>{{ job.domain }}</div>
                            </div>
                            <div class="col-sm-2">
                                <label class="col-form-label font-weight-bold">Is On Site</label>
                                <div>{% if job.is_on_site %} Yes {% else %} No {% endif %}</div>
                            </div>
                            <div class="col-sm-2">
                                <label class="col-form-label font-weight-bold">Is Remote</label>
                                <div>{% if job.is_remote %} Yes {% else %} No {% endif %}</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="col-form-label font-weight-bold">Active</label>
                                <div>{% if job.active %} Yes {% else %} No {% endif %}</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            
                            <div class="col-sm-12">
                                <label class="col-form-label font-weight-bold">Job Description</label>
                                <div>{{ job.job_description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
