{% extends 'admin-portal-base.html' %}
{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        {% if products.pk %}
            <h6 class="m-0 font-weight-bold text-primary">Edit products</h6>
        {% else %}
            <h6 class="m-0 font-weight-bold text-primary">Add New Products</h6>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div>
                {% if form.errors %}
                    <ul class="text-danger" style="list-style-type: none;">
                        {% for field, error_list in form.errors.items %}
                            {% for error in error_list %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}                
            </div>
            <div class="col-lg-12">
                <form method="post" class="user">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.product_name.id_for_label }}">{{ form.product_name.label }}</label>
                            {{ form.product_name }}
                        </div>
                        <div class="col-sm-4">
                            <label for="{{ form.url.id_for_label }}">{{ form.url.label }}</label>
                            {{ form.url }}
                        </div>                        
                        <div class="col-sm-3">
                            <label for="{{ form.product_image.id_for_label }}">{{ form.product_image.label }}</label>
                            {{ form.product_image }}
                        </div>
                    
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.h1.id_for_label }}">{{ form.h1.label }}</label>
                            {{ form.h1 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.product_discription.id_for_label }}">{{ form.product_discription.label }}</label>
                            {{ form.product_discription }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.h2.id_for_label }}">{{ form.h2.label }}</label>
                            {{ form.h2 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
                            {{ form.content }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.process_1.id_for_label }}">{{ form.process_1.label }}</label>
                            {{ form.process_1 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.process_1_disc.id_for_label }}">{{ form.process_1_disc.label }}</label>
                            {{ form.process_1_disc }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.process_2.id_for_label }}">{{ form.process_2.label }}</label>
                            {{ form.process_2 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.process_2_disc.id_for_label }}">{{ form.process_2_disc.label }}</label>
                            {{ form.process_2_disc }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.process_3.id_for_label }}">{{ form.process_3.label }}</label>
                            {{ form.process_3 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.process_3_disc.id_for_label }}">{{ form.process_3_disc.label }}</label>
                            {{ form.process_3_disc }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.process_4.id_for_label }}">{{ form.process_4.label }}</label>
                            {{ form.process_4 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.process_4_disc.id_for_label }}">{{ form.process_4_disc.label }}</label>
                            {{ form.process_4_disc }}
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.usage_1.id_for_label }}">{{ form.usage_1.label }}</label>
                            {{ form.usage_1 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.usage_1_disc.id_for_label }}">{{ form.usage_1_disc.label }}</label>
                            {{ form.usage_1_disc }}
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.usage_2.id_for_label }}">{{ form.usage_2.label }}</label>
                            {{ form.usage_2 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.usage_2_disc.id_for_label }}">{{ form.usage_2_disc.label }}</label>
                            {{ form.usage_2_disc }}
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.usage_3.id_for_label }}">{{ form.usage_3.label }}</label>
                            {{ form.usage_3 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.usage_3_disc.id_for_label }}">{{ form.usage_3_disc.label }}</label>
                            {{ form.usage_3_disc }}
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.usage_4.id_for_label }}">{{ form.usage_4.label }}</label>
                            {{ form.usage_4 }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.usage_4_disc.id_for_label }}">{{ form.usage_4_disc.label }}</label>
                            {{ form.usage_4_disc }}
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
                            {{ form.content }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="{{ form.cover_image.id_for_label }}">{{ form.cover_image.label }}</label>
                            {{ form.cover_image }}
                        </div>
                    </div>
                    

                    <h5>Backend Technologies Used in the Project</h5>
                    <div class="form-group row">  
                        <div class="col-sm-2">
                            <label for="{{ form.dotnet.id_for_label }}">{{ form.dotnet.label }}</label>
                            {{ form.dotnet }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.java.id_for_label }}">{{ form.java.label }}</label>
                            {{ form.java }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.python.id_for_label }}">{{ form.python.label }}</label>
                            {{ form.python }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.php.id_for_label }}">{{ form.php.label }}</label>
                            {{ form.php }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.nodejs.id_for_label }}">{{ form.nodejs.label }}</label>
                            {{ form.nodejs }}
                        </div>
                        
                    </div>
                    
                    <h5>Front-End Technologies Used in the Project</h5>
                    <div class="form-group row">  
                        <div class="col-sm-2">
                            <label for="{{ form.html.id_for_label }}">{{ form.html.label }}</label>
                            {{ form.html }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.css.id_for_label }}">{{ form.css.label }}</label>
                            {{ form.css }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.javascript.id_for_label }}">{{ form.javascript.label }}</label>
                            {{ form.javascript }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.react.id_for_label }}">{{ form.react.label }}</label>
                            {{ form.react }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.vue.id_for_label }}">{{ form.vue.label }}</label>
                            {{ form.vue }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.angular.id_for_label }}">{{ form.angular.label }}</label>
                            {{ form.angular }}
                        </div>
                        
                    </div>
                    
                    <h5>Cloud Technologies Used in the Project</h5>
                    <div class="form-group row">  
                        <div class="col-sm-2">
                            <label for="{{ form.aws.id_for_label }}">{{ form.aws.label }}</label>
                            {{ form.aws }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.azure.id_for_label }}">{{ form.azure.label }}</label>
                            {{ form.azure }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.googlecloud.id_for_label }}">{{ form.googlecloud.label }}</label>
                            {{ form.googlecloud }}
                        </div>
                        
                    </div>

                    <h5>Dataware Housing Technologies Used in the Project</h5>
                    <div class="form-group row">  
                        <div class="col-sm-2">
                            <label for="{{ form.sqlserver.id_for_label }}">{{ form.sqlserver.label }}</label>
                            {{ form.sqlserver }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.mysql.id_for_label }}">{{ form.mysql.label }}</label>
                            {{ form.mysql }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.postgres.id_for_label }}">{{ form.postgres.label }}</label>
                            {{ form.postgres }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.mongodb.id_for_label }}">{{ form.mongodb.label }}</label>
                            {{ form.mongodb }}
                        </div>
                        
                    </div>
                    
                    <h5>Mobile Application Technologies Used in the Project</h5>
                    <div class="form-group row">  
                        <div class="col-sm-2">
                            <label for="{{ form.ios.id_for_label }}">{{ form.ios.label }}</label>
                            {{ form.ios }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.android.id_for_label }}">{{ form.android.label }}</label>
                            {{ form.android }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.reactnative.id_for_label }}">{{ form.reactnative.label }}</label>
                            {{ form.reactnative }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.flutter.id_for_label }}">{{ form.flutter.label }}</label>
                            {{ form.flutter }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.kotlin.id_for_label }}">{{ form.kotlin.label }}</label>
                            {{ form.kotlin }}
                        </div>
                        
                    </div>
                    
                    <h5>Payement Gateways Used in the Project</h5>
                    <div class="form-group row">  
                        <div class="col-sm-2">
                            <label for="{{ form.paypal.id_for_label }}">{{ form.paypal.label }}</label>
                            {{ form.paypal }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.stripe.id_for_label }}">{{ form.stripe.label }}</label>
                            {{ form.stripe }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.visa.id_for_label }}">{{ form.visa.label }}</label>
                            {{ form.visa }}
                        </div>
                        <div class="col-sm-2">
                            <label for="{{ form.gpay.id_for_label }}">{{ form.gpay.label }}</label>
                            {{ form.gpay }}
                        </div>
                        
                    </div>
                    
                    {% comment %} Ending of Page {% endcomment %}                    
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <a href="{% url 'product_list'%}" class="btn btn-primary btn-user btn-block" >Back</a>
                        </div>
                        
                        {% if i.pk %}
                            <div class="col-md-3">
                                <a href="{% url 'delete_product' pk=products.pk %}" class="btn btn-primary btn-user btn-block"> Delete </a>
                            </div>
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Update products">
                            </div>
                        {% else %}
                            <div class="col-sm-6">
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="Create products">
                            </div>
                        {% endif %}
                    </div>
                </form>
        </div>
        </div>
    </div>
</div> 


{% endblock %}
