
{% extends 'site-base.html' %}
{% load static %}

{% block content %}
<!-- Content:Start -->

<div data-bs-spy="scroll" class="scrollspy-example">
  <!-- Hero: Start -->
  <section id="landingTop" class="landing-hero">
    <div class="container">
      <div class="hero-text-box text-center">
        <h1 class="text-primary hero-title">Helping the world with impactful software solutions</h1>
        <h2 class="h6 mb-4 pb-1 lh-lg">
          Enabling growth through smart software solutions<br />Your success, our mission – tech solutions that
          deliver
        </h2>
        <a href="/#landingContact" class="btn btn-primary">Let’s get started with your project</a>
      </div>
      <div class="position-relative hero-animation-img">
        <a href="/materio-html-django-admin-template/demo-1/dashboard/crm/" target="_blank">
          <div class="hero-dashboard-img text-center">
            <img src="{% static 'light/izyansoft-img-banner-01.png' %}" alt="hero dashboard" class="animation-img"
              data-speed="2" />
          </div>
          <div class="position-absolute hero-elements-img">
            <!-- <img src="{% static 'light/banner-imag-02 copy.png' %}" alt="hero elements" class="animation-img"
              data-speed="4" /> -->
          </div>
        </a>
      </div>
    </div>
  </section>
  <!-- Hero: End -->

  <!-- FAQ: Start -->
  <section id="landingFAQ" class="section-py bg-body landing-faq" style="margin-top: 265px;">
    <div class="container bg-icon-right">
      <h6 class="text-center fw-semibold d-flex justify-content-center align-items-center mb-4">
        <img src="{% static 'light/section-tilte-icon.png' %}" alt="section title icon" class="me-2" />
      </h6>
      <h3 class="text-center mb-2">Why<span class="fw-bold"> izyansoft</span></h3>
      <p class="text-center fw-medium mb-3 mb-md-5 pb-3">
        Choosing us would be a pleasure for us to make your business smart and robust
      </p>
      <div class="row gy-5">
        <div class="col-lg-12">
          <div>
            <span class="fw-bold"> Welcome to izyansoft - Crafting Innovative Solutions Since 2015 </span>
            <br/><span>At izyansoft, we take pride in our journey as a leading software agency, dedicated to delivering
              cutting-edge solutions to our clients worldwide. With a rich history spanning seven years, we have
              consistently pushed the boundaries of technology, providing a range of services that cater to the
              diverse needs of businesses across industries.</span>
            <br/><br/><span class="fw-bold"> Our Expertise </span>
            <br/><span>Web App Development to Mobile App Development, our team of skilled professionals excels in
              transforming ideas into robust and scalable software solutions. Our proficiency extends to specialized
              domains such as Education Technology, Web Scraping, Data and Artificial Intelligence, QA and Software
              Testing, UX, Product, and Design. Whether you are a startup looking to build an MVP or an established
              enterprise in need of customized software, we have the expertise to meet your requirements.</span>
            <br/><br/><span class="fw-bold"> Commitment to Quality </span>
            <br/><span>What sets us apart is our unwavering commitment to quality. We believe in creating not just software
              but experiences that leave a lasting impression. Our rigorous testing processes ensure that every
              solution we deliver is of the highest standard, meeting the expectations of our clients and end-users
              alike.</span>
            <br/><br/><span class="fw-bold"> Collaborative Approach </span>
            <br/><span>At the heart of our success is our collaborative approach. We work closely with our clients,
              understanding their vision and goals, to create tailor-made solutions that drive success. Our team
              becomes an extension of yours, ensuring seamless communication and a shared commitment to
              excellence.</span>
            <br/><br/><span class="fw-bold"> Looking Forward </span>
            <br/><span>As we reflect on our journey so far, we express gratitude to our clients, partners, and the talented
              individuals who have been a part of our story. Looking forward, we are excited about the opportunities
              that lie ahead. Whether you're embarking on a new project or seeking to enhance your existing software,
              izyansoft is your trusted partner for innovation and success.</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FAQ: End -->

  <!-- Useful features: Start -->
  <section id="whatwedo" class="section-py">
    <div class="container">
      <h6 class="text-center fw-semibold d-flex justify-content-center align-items-center mb-4">
        <img src="{% static 'light/section-tilte-icon.png' %}" alt="section title icon" class="me-2" />
        <span class="text-uppercase">We have one stop solutions</span>
      </h6>
      <h3 class="text-center mb-2"><span class="fw-bold">Everything you need</span> you can avail here</h3>
      <p class="text-center fw-medium mb-3 mb-md-5 pb-3">
        We have a quite great experties in the following sectors.
      </p>
      <div class="features-icon-wrapper row gx-0 gy-4 g-sm-5">
        <div class="col-lg-4 col-sm-6 text-center features-icon-box">
          <div class="features-icon mb-3">
            <img src="{% static 'light/laptop-charging.png' %}" alt="laptop charging" />
          </div>
          <h5 class="mb-2">Web app development</h5>
          <p class="features-icon-description">
            Crafting responsive web applications with cutting-edge tech, our team specializes in scalable, secure solutions tailored to your business objectives. We bring ideas to life, ensuring a seamless user experience.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center features-icon-box">
          <div class="features-icon mb-3">
            <img src="{% static 'light/transition-up.png' %}" alt="transition up" />
          </div>
          <h5 class="mb-2">Mobile app development</h5>
          <p class="features-icon-description">
            Transforming concepts into seamless mobile experiences, our skilled developers build robust, innovative applications for diverse platforms. Leveraging the latest technologies, we engage users and elevate brand presence.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center features-icon-box">
          <div class="features-icon mb-3">
            <img src="{% static 'light/edit.png' %}" alt="edit" />
          </div>
          <h5 class="mb-2">QA and software testing services</h5>
          <p class="features-icon-description">
            Ensure software reliability with comprehensive quality assurance and testing services. Our dedicated team covers functionality, performance, and security, employing industry best practices to identify and resolve defects for a flawless user experience.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center features-icon-box">
          <div class="features-icon mb-3">
            <img src="{% static 'light/3d-select-solid.png' %}" alt="3d select solid" />
          </div>
          <h5 class="mb-2">UX, product, and design</h5>
          <p class="features-icon-description">
            Elevate your digital presence with expert UX and design services, creating visually stunning, intuitive interfaces. From ideation to prototyping, our product design experts collaborate to shape engaging, user-friendly experiences that resonate.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center features-icon-box">
          <div class="features-icon mb-3">
            <img src="{% static 'light/lifebelt.png' %}" alt="lifebelt" />
          </div>
          <h5 class="mb-2">Web scraping</h5>
          <p class="features-icon-description">Extract valuable insights from the web with tailored solutions, providing real-time data for informed decision-making. Our experts employ advanced techniques, collecting and analyzing data to empower your business with a competitive edge.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center features-icon-box">
          <div class="features-icon mb-3">
            <img src="{% static 'light/google-docs.png' %}" alt="google docs" />
          </div>
          <h5 class="mb-2">DevOps solutions</h5>
          <p class="features-icon-description">Streamline development and operations processes with our DevOps solutions, optimizing collaboration and accelerating the software delivery lifecycle. We implement robust practices, combining automation and efficiency for your success.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Useful features: End -->

  <!-- Fun facts: Start -->
  <section id="landingFunFacts" class="section-py landing-fun-facts">
    <div class="container">
      <div class="row gx-0 gy-5 gx-sm-5">
        <div class="col-md-3 col-sm-6 text-center">
          <span class="badge badge-center rounded-pill bg-label-hover-primary fun-facts-icon mb-4"><i
              class="tf-icons mdi mdi-land-plots mdi-36px"></i></span>
          <h2 class="fw-bold mb-1">137+</h2>
          <p class="fw-medium mb-0">Completed Sites</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <span class="badge badge-center rounded-pill bg-label-hover-success fun-facts-icon mb-4"><i
              class="tf-icons mdi mdi-clock-outline mdi-36px"></i></span>
          <h2 class="fw-bold mb-1">1,100+</h2>
          <p class="fw-medium mb-0">Working Hours</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <span class="badge badge-center rounded-pill bg-label-hover-warning fun-facts-icon mb-4"><i
              class="tf-icons mdi mdi-emoticon-happy-outline mdi-36px"></i></span>
          <h2 class="fw-bold mb-1">137+</h2>
          <p class="fw-medium mb-0">Happy Customers</p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <span class="badge badge-center rounded-pill bg-label-hover-info fun-facts-icon mb-4"><i
              class="tf-icons mdi mdi-medal-outline mdi-36px"></i></span>
          <h2 class="fw-bold mb-1">23+</h2>
          <p class="fw-medium mb-0">Awards Winning</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Fun facts: End -->

  <!-- Real customers reviews: Start -->
  <section id="landingReviews" class="section-py bg-body landing-reviews pb-0">
    <div class="container">
      <h6 class="text-center fw-semibold d-flex justify-content-center align-items-center mb-4">
        <img src="{% static 'light/section-tilte-icon.png' %}" alt="section title icon" class="me-2" />
        <span class="text-uppercase">proud to have</span>
      </h6>
      <h3 class="text-center mb-2"><span class="fw-bold">Success stories</span> from clients</h3>
      <p class="text-center fw-medium mb-3 mb-md-5">See what our customers have to say about their experience.</p>
    </div>
    <div class="swiper-reviews-carousel overflow-hidden mb-5 pt-4">
      <div class="swiper" id="swiper-reviews">
        <div class="swiper-wrapper">
          {% for testimonial in testimonials %}
          <div class="swiper-slide">
            <div class="card h-100">
              <div class="card-body text-body d-flex flex-column justify-content-between text-center">
                <div class="mb-3">
                  <img src="{{ MEDIA_URL }}/{{testimonial.company_logo}}" alt="client logo"
                    class="client-logo img-fluid" />
                </div>
                <p>
                  “{{testimonial.content}}”
                </p>
                <div class="text-warning mb-3">
                  {% for star in "*****" %}
                  {% if forloop.counter <= testimonial.rating %} <i class="tf-icons mdi mdi-star mdi-24px"></i>
                    {% else %}
                    <i class="tf-icons mdi mdi-star-outline mdi-24px"></i>
                    {% endif %}
                    {% endfor %}

                </div>
                <div>
                  <h6 class="mb-1">{{testimonial.giver_name}}</h6>
                  <p class="mb-0">{{testimonial.giver_designation}} at {{testimonial.company_name}}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <hr class="m-0" />
    <div class="container">
      <div class="swiper-logo-carousel py-4 my-lg-2">
        <div class="swiper" id="swiper-clients-logos">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="{% static 'light/logo-1-light.png' %}" alt="client logo" class="client-logo" />
            </div>
            <div class="swiper-slide">
              <img src="{% static 'light/logo-2-light.png' %}" alt="client logo" class="client-logo" />
            </div>
            <div class="swiper-slide">
              <img src="{% static 'light/logo-3-light.png' %}" alt="client logo" class="client-logo" />
            </div>
            <div class="swiper-slide">
              <img src="{% static 'light/logo-4-light.png' %}" alt="client logo" class="client-logo" />
            </div>
            <div class="swiper-slide">
              <img src="{% static 'light/logo-5-light.png' %}" alt="client logo" class="client-logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Real customers reviews: End -->

  <!-- Contact Us: Start -->
  <section id="landingContact" class="section-py bg-body landing-contact">
    <div class="container bg-icon-left">
      <h6 class="text-center fw-semibold d-flex justify-content-center align-items-center mb-4">
        <img src="{% static 'light/section-tilte-icon.png' %}" alt="section title icon" class="me-2" />
        <span class="text-uppercase">contact us</span>
      </h6>
      <h3 class="text-center mb-2"><span class="fw-bold">Lets work</span> together</h3>
      <p class="text-center fw-medium mb-3 mb-md-5 pb-3">Submit us your requirements below</p>
      <div class="row gy-4">
        <div class="col-lg-5">
          <div class="card h-100">
            <div class="bg-primary rounded text-white card-body">
              <img src="{% static 'light/let%E2%80%99s-contact.png' %}" alt="let’s contact" class="w-100 mb-2 pb-1" />
              <p class="display-6 mb-4">Next steps after requirements submission </p>
              <p class="mb-0">1. You will get a response from our business development team within two working days.
              </p>
              <p class="mb-0">2. Engage in a discovery session to delve into your project requirements.</p>
              <p class="mb-0">3. Rest assured, all shared information is safeguarded under the mNDA.</p>
              <p class="mb-0">4. Our technical and business development teams assess your project scope and present
                the optimal approach in a proposal.</p>
              <p class="mb-0">5. Finalize the process by signing a software development agreement, aligning with the
                mutually agreed terms in the proposal.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="card">
            <div class="card-body">
              <h5 class="mb-4">Share your project requirements with our experts</h5>
              <div class="text-danger" id="contact_us_errors"></div>
              <div class="text-success" id="contact_us_success_msg"></div>
              <br />
              <form id="contact_us_form">
                <div class="row g-3">
                  <div class="col-md-6">
                    <div class="form-floating form-floating-outline">
                      <select name="service" id="service" class="form-control">
                        <option value="">What service are you looking for? *</option>
                        <option value="Web App Development">Web App Development</option>
                        <option value="Mobile App Development">Mobile App Development</option>
                        <option value="Education Technology">Education Technology</option>
                        <option value="Web Scraping">Web Scraping</option>
                        <option value="Data and Artificial Intelligence">Data and Artificial Intelligence</option>
                        <option value="QA and Software Testing">QA and Software Testing</option>
                        <option value="UX, Product, and Design">UX, Product, and Design</option>
                        <option value="MVP for Startups">MVP for Startups</option>
                        <option value="Enterprise Software Development">Enterprise Software Development</option>
                        <option value="Team Augmentation">Team Augmentation</option>
                        <option value="DevOps Solutions">DevOps Solutions</option>
                      </select>
                      <label for="service">Service you need *</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-floating form-floating-outline">
                      <input type="text" class="form-control" id="org-name" placeholder="Allied Groups" />
                      <label for="org-name">Bussniess name</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-floating form-floating-outline">
                      <input type="email" class="form-control" id="email" placeholder="johndoe99@gmail.com" />
                      <label for="email">Email address</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-floating form-floating-outline">
                      <input type="text" class="form-control" id="fullname" placeholder="John Doe" />
                      <label for="fullname">Full name</label>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-floating form-floating-outline">
                      <textarea class="form-control h-px-200"
                        placeholder="Please add your project's requirements here" aria-label="requirements"
                        id="requirements"></textarea>
                      <label for="requirements">Requirements</label>
                    </div>
                  </div>

                </div>
                <button onclick="submitContactUsForm()" type="button" class="btn btn-primary mt-3">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us: End -->
</div>

<!-- Content: End -->

{% endblock %}
