{% extends 'site-base.html' %}

{% block content %}
<section id="main-content-block" class="section-py">
    <div class="container bg-icon-right">
        <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y mt-10">
                <div class="row col-md-12">
                    <div class="col-md-12">
                        <h3>Open jobs</h3>
                    </div>
                    {% for job in open_jobs %}
                    <div class="col-xl-12 col-lg-12 col-md-12" style="padding: 20px;">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <a href="javascript:;" class="d-flex align-items-center">
                                        <div class="me-2 text-heading h5 mb-0">{{job.display_title}}</div>
                                    </a>
                                    <div class="ms-auto">
                                        <ul class="list-inline mb-0 d-flex align-items-center">
                                            <li class="list-inline-item me-0"><span
                                                    class="mdi mdi-map-marker-outline"></span>{{job.location}}</li>
                                            <li class="list-inline-item">
                                                <div class="dropdown">
                                                    <button type="button"
                                                        class="btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow p-0 waves-effect waves-light"
                                                        data-bs-toggle="dropdown" aria-expanded="false"><i
                                                            class="mdi mdi-dots-vertical mdi-24px text-muted"></i></button>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                        <li><a class="dropdown-item waves-effect"
                                                                href="javascript:void(0);">Apply</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="mb-3 pb-1">{{job.job_description|slice:":300"}}...</p>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        Apply by {{job.last_date_to_apply}}
                                    </div>
                                    <div class="ms-auto">
                                        <a href="javascript:;" class="me-2"><span
                                                class="badge bg-label-success rounded-pill">{{job.domain}}</span></a>
                                        {% if job.is_remote %}
                                        <a href="javascript:;" class="me-2"><span
                                                class="badge bg-label-primary rounded-pill">Remote</span></a>
                                        {% endif %}

                                        {% if job.is_on_site %}
                                        <a href="javascript:;" class="me-2"><span
                                                class="badge bg-label-info rounded-pill">On-Site</span></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}