{% extends 'site-base.html' %}
{% load static %}

{% block content %}
 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>This is a Sofware Product </h1>
          <p>Discover the perfect blend of sophistication and simplicity with IzyanSoft. Our expert team crafts bespoke software solutions, ensuring your business not only keeps up with the times but stays ahead of the curve.</p>
          <a href="#about"><button class="btn btn-outline-dark">Laern more</button></a>       
     
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          {% comment %} <img src="{% static 'img/sdlc_home.gif' %}" class="img-fluid" alt=""> {% endcomment %}
        </div>
      </div>
    </div>
  
  </section><!-- End Hero -->
  
  <main id="main">

  <!-- ======= About Section ======= -->
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch position-relative">
        </div>
        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h3>Enim quis est voluptatibus aliquid consequatur fugiat</h3>
          <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.</p>
          <div class="icon-box">
            <h4 class="title"><a href="">Dine Pad</a></h4>
            <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
          </div>
          <div class="icon-box">
            <h4 class="title"><a href="">Dine Pad</a></h4>
            <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
          </div>
          <div class="icon-box">
            <h4 class="title"><a href="">Dine Pad</a></h4>
            <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
          </div>
          <div class="icon-box">
            <h4 class="title"><a href="">Dine Pad</a></h4>
            <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
 <!-- ======= Team Section ======= -->
 <section id="team" class="team section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Team</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Walter White</h4>
            <span>Chief Executive Officer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'img/team/team-2.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Sarah Jhonson</h4>
            <span>Product Manager</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'img/team/team-3.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>William Anderson</h4>
            <span>CTO</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img src="{% static 'img/team/team-4.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

<div>
  
</div>
  <!-- Cards Section -->
  <div class="container  py-4">
    <h2>Our Outsourcing Models and Costs </h2>
    <div class="row">
      <div class="col-3 border p-3 m-2">
          <h5>Card title</h5>
          <h6 class="text-body-secondary">Card subtitle</h6>
          <p>Some quick example text to build on the card title and make up the bulk of the card's card title and make up the bulk of the card's  card title and make up the bulk of the card's  content.</p>
          <a href="#">Card link</a>
      </div> 
      <div class=" col-sm-3 border p-3 m-2">
          <h5>Card title</h5>
          <h6 class="text-body-secondary">Card subtitle</h6>
          <p>Some quick example text to build on the card title and make up the bulk of the card's card title and make up the bulk of the card's  card title and make up the bulk of the card's  content.</p>
          <a href="#">Card link</a>
      </div> 
      <div class=" col-sm-3 border p-3 m-2">
          <h5>Card title</h5>
          <h6 class="text-body-secondary">Card subtitle</h6>
          <p>Some quick example text to build on the card title and make up the bulk of the card's card title and make up the bulk of the card's  card title and make up the bulk of the card's  content.</p>
          <a href="#">Card link</a>
      </div>   
    </div>
  </div>

<!-- Image with Content cards 1 -->
<div class="container py-4">
  <div class="row">
  <div class="col-3" >
    <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
  </div>
  <div class="col-6 text-bg-light p-3">
    <div class="box">
      <h2>This is Heading 2, maintained by Izyansoft</h2>
      <p>Lorem ipsum  s, necessitatibu rupti ducimus. Quisquam ad dicta quidem omni bo debitis, maxime possimus architecto dolor voluptatum eius beatae, ea labore, optio culpa aspernatur pariatur exercitationem earum veniam neque. Nostrum amet sapiente vel non ducimus repudiandae minus atque totam sequi autem placeat doloribus possimus eius illum eaque temporibus adipisci facere fugit minima ipsum odit, quas laudantium dolor nobis? Esse accusantium atque cupiditate vero distinctio facilis quasi architecto optio, maxime consectetur.</p>
      <a class="btn btn-outline-dark btn-sm" href=""> Make A Cal</a>
    </div>
  </div>
</div>
</div>

<!-- Image with Content cards 2 -->
<div class="container text-end py-4">
  <div class="row">
    <div class="col-6 text-bg-light p-3">
      <div class="box">
        <h2>This is Heading 2, maintained by Izyansoft</h2>
        <p>Lorem ipsum  s, necessitatibu rupti ducimus. Quisquam ad dicta quidem omni bo debitis, maxime possimus architecto dolor voluptatum eius beatae, ea labore, optio culpa aspernatur pariatur exercitationem earum veniam neque. Nostrum amet sapiente vel non ducimus repudiandae minus atque totam sequi autem placeat doloribus possimus eius illum eaque temporibus adipisci facere fugit minima ipsum odit, quas laudantium dolor nobis? Esse accusantium atque cupiditate vero distinctio facilis quasi architecto optio, maxime consectetur.</p>
        <a class="btn btn-outline-dark btn-sm" href=""> Make A Cal</a>
      </div>
    </div>
  <div class="col-3" >
    <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
  </div>
</div>
</div>

<!-- Image with Content cards 3 -->
<div class="container py-4">
  <div class="row">
  <div class="col-3" >
    <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
  </div>
  <div class="col-6 text-bg-light p-3">
    <div class="box">
      <h2>This is Heading 2, maintained by Izyansoft</h2>
      <p>Lorem ipsum  s, necessitatibu rupti ducimus. Quisquam ad dicta quidem omni bo debitis, maxime possimus architecto dolor voluptatum eius beatae, ea labore, optio culpa aspernatur pariatur exercitationem earum veniam neque. Nostrum amet sapiente vel non ducimus repudiandae minus atque totam sequi autem placeat doloribus possimus eius illum eaque temporibus adipisci facere fugit minima ipsum odit, quas laudantium dolor nobis? Esse accusantium atque cupiditate vero distinctio facilis quasi architecto optio, maxime consectetur.</p>
      <a class="btn btn-outline-dark btn-sm" href=""> Make A Cal</a>
    </div>
  </div>
</div>
</div>

 
</main><!-- End #main -->
{% endblock %}