{% extends 'site-base.html' %}
{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->

<section id="testimonials" class="testimonials">
  <div class="container position-relative">
    <div class="text-center text-white  m-5 pt-5">
      <h2>This is a Service page of IzyanSoft - Single services page</h2>
      <p>ihiohd ihiohsd iohiohos mhihih pojio huhuh yughami hamig graoghics s mhihih pojio huhuh yughami hamig graoghic
        d mhihih pojio huhuh yughami hamig graoghic d designer is required for hamid </p>
      <a href=""><button class="btn btn-outline-light">Learn More</button></a>
    </div>
  </div>
</section><!-- End Testimonials Section -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch position-relative">
        </div>
        <div
          class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h3>Enim quis est voluptatibus aliquid consequatur fugiat</h3>
          <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus
            laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla
            tenetur. Suscipit aut voluptate.</p>
          <div class="icon-box">
            <h4 class="title"><a href="">Dine Pad</a></h4>
            <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut
              deserunt minus aut eligendi omnis</p>
          </div>
          <div class="icon-box">
            <h4 class="title"><a href="">Dine Pad</a></h4>
            <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut
              deserunt minus aut eligendi omnis</p>
          </div>
          <div class="icon-box">
            <h4 class="title"><a href="">Dine Pad</a></h4>
            <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut
              deserunt minus aut eligendi omnis</p>
          </div>
          <div class="icon-box">
            <h4 class="title"><a href="">Dine Pad</a></h4>
            <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut
              deserunt minus aut eligendi omnis</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Team</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="{% static 'img/team/team-2.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="{% static 'img/team/team-3.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="{% static 'img/team/team-4.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- Image with Content cards 1 -->

  <div class="container py-4">
    <div class="row gy-4 text-start ">
      <div class="col-lg-4">
        <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">

      </div>
      <div class="col-lg-8 text-bg-light p-4">
        <h2>This is Heading 2, maintained by Izyansoft</h2>
        <p>Lorem ipsum s, necessitatibu rupti ducimus. Quisquam ad dicta quidem omni bo debitis, maxime possimus
          architecto dolor voluptatum eius beatae, ea labore, optio culpa aspernatur pariatur exercitationem earum
          veniam neque. Nostrum amet sapiente vel non ducimus repudiandae minus atque totam sequi autem placeat
          doloribus possimus eius illum eaque temporibus adipisci facere fugit minima ipsum odit, quas laudantium
          dolor nobis? Esse accusantium atque cupiditate vero distinctio facilis quasi architecto optio, maxime
          consectetur.</p>
        <a class="btn btn-outline-dark btn-sm" href=""> Make A Call</a>
      </div>
    </div>

  </div>


  <!-- Image with Content cards 2 -->

  <div class="container  py-4">
    <div class="row gy-4 text-start ">
      
      <div class="col-lg-8 text-bg-light text-end p-4">
        <h2>This is Heading 2, maintained by Izyansoft</h2>
        <p>Lorem ipsum s, necessitatibu rupti ducimus. Quisquam ad dicta quidem omni bo debitis, maxime possimus
          architecto dolor voluptatum eius beatae, ea labore, optio culpa aspernatur pariatur exercitationem earum
          veniam neque. Nostrum amet sapiente vel non ducimus repudiandae minus atque totam sequi autem placeat
          doloribus possimus eius illum eaque temporibus adipisci facere fugit minima ipsum odit, quas laudantium
          dolor nobis? Esse accusantium atque cupiditate vero distinctio facilis quasi architecto optio, maxime
          consectetur.</p>
        <a class="btn btn-outline-dark btn-sm" href=""> Make A Call</a>
      </div>

      <div class="col-lg-4">
        <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">

      </div>
    </div>

  </div>





</main><!-- End #main -->
{% endblock %}