{% extends 'site-base.html' %}
{% load static %}
{% block title %}{% endblock%}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>A CRM developed by IzyanSoft</h1>
        <p>Discover the perfect blend of sophistication and simplicity with IzyanSoft. Our expert team crafts bespoke
          software solutions, ensuring your business not only keeps up with the times but stays ahead of the curve.</p>
        <a href="#about"><button class="btn btn-outline-dark">Learn more</button></a>

      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <!-- <img src="{% static 'img/sdlc_home.gif' %}" class="img-fluid" alt=""> -->
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section class="about">
    <div class="container">

      <div
        class="col-xl-12 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>Some features of CRM by IzyanSoft</h3>
        <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus
          laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla
          tenetur. Suscipit aut voluptate.</p>
        <div class="icon-box">
          <div class="icon"><i class="bi bi-book-half"></i></div>
          <h4 class="title"><a href="">Feature of Produst</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
            occaecati cupiditate non provident</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bi bi-book-half"></i></div>
          <h4 class="title"><a href="">Nemo Enim</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bi bi-book-half"></i></i></div>
          <h4 class="title"><a href="">Dine Pad</a></h4>
          <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut
            deserunt minus aut eligendi omnis</p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->



  <div class="container">
    <div class="row gy-4">
      <!-- Job display section -->
      <div class="col-lg-9">

        <h2>Working Models of CRM </h2>
        <div class="row">
          <div class="col-5 border p-3 m-3 shadow">
            <h5>Card title</h5>
            <h6 class="text-body-secondary">Card subtitle</h6>
            <p>Some quick example text to build on the card title and make up the bulk of the card's card title and make
              up the bulk of the card's card title and make up the bulk of the card's content.</p>
          </div>
          
          <div class=" col-5 border p-3 m-3 shadow">
            <h5>Card title</h5>
            <h6 class="text-body-secondary">Card subtitle</h6>
            <p>Some quick example text to build on the card title and make up the bulk of the card's card title and make
              up the bulk of the card's card title and make up the bulk of the card's content.</p>            
          </div>
        </div>
        <!-- cards end -->
        <!-- technologies section -->
        
        <section>
          <h2>Technoloigies Used in the Project</h2>
          <div class="container bg-secondary-subtle p-5 rounded-2">
            <div>
              <h4>Front End Technologies</h4>
              <button class="btn btn-outline-secondary  rounded-0  p-3">Rect JS</button>
              <button class="btn btn-outline-secondary  rounded-0  p-3">Bootstrap</button>
              <button class="btn btn-outline-secondary  rounded-0  p-3">HTML</button>
              <button class="btn btn-outline-secondary  rounded-0  p-3">CSS</button>
              <button class="btn btn-outline-secondary  rounded-0  p-3">JavaScript</button>
            </div>

            <div>
              <h4>DataBase</h4>
              <button class="btn btn-outline-secondary  rounded-0  p-3">MySQL</button>
              <button class="btn btn-outline-secondary  rounded-0  p-3">SQLite</button>
            </div>

            <div>
              <h4>Framework Used</h4>
              <button class="btn btn-outline-secondary  rounded-0  p-3">Django</button>
              <button class="btn btn-outline-secondary  rounded-0  p-3">RESTfull API</button>
            </div>

            <div>
              <h4>Back End Technologies</h4>
              <button class="btn btn-outline-secondary  rounded-0  p-3">Python</button>
              <button class="btn btn-outline-secondary  rounded-0  p-3">Node JS</button>
              <button class="btn btn-outline-secondary  rounded-0  p-3">Typescript</button>
            </div>

          </div>
      </div>

   


    <!-- sidebar start -->
    <div class="col-lg-3">

      <div class="box p-3 my-3 shadow-sm">
        <h4>Did'nt Understant the ERP? Talk to Our Experts</h4>
        <p>
          Schedule an appointment <br>
          Also you acan add contact no, some auto reply messsaging.
          
        </p>
      </div>

      <div class="box p-3 my-3 shadow-sm">
        <h4>Why Choose IzyanSoft for Your ERP</h4>
        <p>
          some content for clients's attration
        </p>
      </div>

  

      <div class="box p-3 my-3 shadow-sm">
        <h4>Similar Products</h4>
        <p>
          some filters to show similar products like this
        </p>
      </div>

    </div>
    <!-- sidebar end -->

  </div>
  </div>


  <section id="testimonials" class="testimonials">
    <div class="container position-relative">
      <div class="text-center text-white  m-5">
        <h4>Get An Estimate of this Project!</h4>
    <p>
      Schedule a call or meeting, with our experts to get cost estimate, timeline and procedure. Get an estimated ROI (Return Over Investment). IzyanSoft is allways here to assists you throughout. 
    </p>
    <a href=""><button class="btn btn-light" >Schedule a Call</button></a>
      </div>
    </div>
  </section>

<div class="container pt-3">
  <h2>Benefits of CRM </h2>
        <div class="row">
          <div class="col-3 border p-3 m-3 shadow">
            <div class="text-center text-warning">
              <i class="fa-solid fa-star fa-3x text-center"></i>
              <h5 class="pt-3">Card title</h5>            
            </div>
            <p>Some quick example text to build on the card title and make up the bulk of the card's card title and make
              up the bulk of the card' ent.</p>            
          </div>
          <div class="col-3 border p-3 m-3 shadow">
            <div class="text-center text-warning">
              <i class="fa-solid fa-star fa-3x text-center"></i>
              <h5 class="pt-3">Card title</h5>            
            </div>
            <p>Some quick example text to build on thecard title and make up the bulk of the card' ent.</p>            
          </div>
          <div class="col-3 border p-3 m-3 shadow">
            <div class="text-center text-warning">
              <i class="fa-solid fa-star fa-3x text-center"></i>
              <h5 class="pt-3">Card title</h5>            
            </div>
            <p>Some quick example text to build on the card title and make up the bulk of the card's card title and make
              up the bulk of the card' ent.</p>            
          </div>
        </div>
</div>



</main><!-- End #main -->
{% endblock %}