{% extends 'site-base.html' %}
{% load static %}
{% block title %} {%endblock%}
{% block content %}
<!-- ======= Hero Section ======= -->
  
<section id="testimonials" class="testimonials">
    <div class="container position-relative">
      <div class="text-center text-white  m-5 pt-5" >
        <h2>Azure Development- Single Technology page</h2>
        <p>ihiohd ihiohsd iohiohos mhihih  pojio huhuh yughami hamig graoghics s mhihih  pojio huhuh yughami hamig graoghic d  mhihih  pojio huhuh yughami hamig graoghic d designer is required for hamid </p>
        <a href=""><button class="btn btn-outline-light" >Learn More</button></a>
      </div>
    </div>
  </section><!-- End Hero Section -->
  

<main id="main">

    <!-- ======= About Section ======= -->
    <section class="about">
        <div class="container">
            <div
                class="col-xl-12 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>Some Benifits of Choosing Azure</h3>
                <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima
                    temporibus
                    </p>
                <div class="icon-box">
                   <h4 class="title"><a href="">Feature of Produst</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                        sint</p>
                </div>

                <div class="icon-box">
                    <h4 class="title"><a href="">Nemo Enim</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignit vero eos et accusamus et iusto odio dignssimost vero eos et accusamus et iusto odio dign ducimus qui blanditiis
                        praesentium
                        voluptatum deleniti atque</p>
                </div>

                <div class="icon-box">
                    <h4 class="title"><a href="">Dine Pad</a></h4>
                    <p class="description">Explicabo est volupt vero eos et accusamus et iusto odio dignt vero eos et accusamus et iusto odio digntatum asperiores consequatur magnam. Et veritatis odit.
                        t vero eos et accusamus et iusto odio digneserunt minus aut eligendi omnis</p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->



    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

                <h2>Services we are Offering in Azure</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        {% comment %} <div class="icon"><i class="bi bi-cash-stack" style="color: #ff689b;"></i></div>
                        {% endcomment %}
                        <h4 class="title">Azure Cloud</h4>
                        <p class="description">pit. Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        {% comment %} <div class="icon"><i class="bi bi-cash-stack" style="color: #ff689b;"></i></div>
                        {% endcomment %}
                        <h4 class="title">Azure Development</h4>
                        <p class="description">pit. Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        {% comment %} <div class="icon"><i class="bi bi-cash-stack" style="color: #ff689b;"></i></div>
                        {% endcomment %}
                        <h4 class="title">Azure Consulting-</h4>
                        <p class="description">pit. Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        {% comment %} <div class="icon"><i class="bi bi-cash-stack" style="color: #ff689b;"></i></div>
                        {% endcomment %}
                        <h4 class="title">Azure Consulting-</h4>
                        <p class="description">pit. Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        {% comment %} <div class="icon"><i class="bi bi-cash-stack" style="color: #ff689b;"></i></div>
                        {% endcomment %}
                        <h4 class="title">Azure Working-</h4>
                        <p class="description">pit. Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->

    <!--  section -->
    <section>
        <div class="container">
                <h2>Services we are Offering</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                        fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
            </div>
        </div>
    </section>
    
<div class="container my-5">
    <div class="rounded  p-5 shadow-lg">
        <h3>Get Expert's Guide on Azure </h3>
        <!-- <h6 class="text-body-secondary">Card subtitle</h6> -->
        <p>Some quick example text to build on the card title and make up the bulk of the card's card title and make
          up the bulk of the card's card title and make up the bulk of the card's content.</p>
        <a href="#about"><button class="btn btn-outline-dark">Get Experts Advice</button></a>      </div>
</div>

    <!-- =======  Products Section ======= -->
    <section id="product" class="team section-bg">
        <div class="container">
                <h2>The Projects in Azure</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius ctetur velit. Quisquam quos quisquam cupiditate.
                    Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>

            <div class="row">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">

                            <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-arrows-fullscreen"></i></a>
                                <a href=""><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Productt anme </h4>
                            <span> uis hij ia h m,uis huihuihuita yuga gahmi gatjnukjaya uh juig gyatgb ghmi d izyan
                                soft</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">

                            <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-arrows-fullscreen"></i></a>
                                <a href=""><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Productt anme </h4>
                            <span> uis hij ia h m,uis huihuihuita yuga gahmi gatjnukjaya uh juig gyatgb ghmi d izyan
                                soft</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">

                            <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-arrows-fullscreen"></i></a>
                                <a href=""><i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Productt anme </h4>
                            <span> uis hij ia h m,uis huihuihuita yuga gahmi gatjnukjaya uh juig gyatgb ghmi d izyan
                                soft</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Product Section -->


</main><!-- End #main -->
{% endblock %}