{% extends 'admin-portal-base.html' %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Confirm Delete</h6>
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete {{testimonials.company_name}} job?</p>
            <form method="post" class="user">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-6">
                        <a href="{% url 'testimonial_list'%}" class="btn btn-primary btn-user btn-block" >Back</a>
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Yes"> 
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
